.vscode
data
node_modules
dist
.editorconfig
.gitignore
.node-dev.json
docker-compose.yml
core
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
